<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nicholas Falter Portfolio - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NicFWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Experience">Nicholas Falter Portfolio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Experience">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Skills">Skills</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container-fluid p-0">
            <div class="d-flex flex-nowrapp align-items-stretch">
                <div class="sidebar min-vh-100">
                    <div class="mx-1">
                        <img src="Images/Nicholas.jpg" class="portrait p-2" />
                        <div class="text-center grey">Hello! I am Nicholas Falter! Welcome to my portfolio!</div>
                        <div>
                            <div class="small-font grey mt-2">
                                <a class="d-flex" href="mailto:nicholasafalter@gmail.com">
                                    <img src="/Images/Email-Icon.png" class="icon me-1 mb-1" />nicholasafalter@gmail.com
                                </a>
                                <a class="d-flex" href="https://www.linkedin.com/in/nicholasfalter/">
                                    <img src="Images/LinkedIn-Icon.png" class="icon me-1 mb-1">linkedin.com/in/nicholasfalter
                                </a>
                                <div class="d-flex"><img src="Images/Phone-Icon.png" class="icon me-1 mb-1" />360-269-2084</div>
                            </div>
                        </div>
                        <br />
                        <div class="text-center grey small-font">Check out the code behind my portfolio <a href="https://github.com/NicholasFalter00/NFalter-Portfolio">here</a>!</div>
                    </div>
                </div>
                <div class="flex-grow-1 ms-sm-auto px-md-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>