@page
@model NicFWebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<style>
    .icon {
        max-height: 25px;
        max-width: 25px;
        padding-right: 5px;
    }
</style>

<div>
    <p>
        <a href="mailto:nicholasafalter@gmail.com">
            <img src="Images/Email-Icon4.png" class="icon">nicholasafalter@gmail.com
        </a>
        <br />
        <img src="Images/Phone-Icon.png" class="icon">360-269-2084
    </p>
</div>