@page
@model PrivacyModel
@{
    ViewData["Title"] = "Ideas for future improvement";
}
<h1>@ViewData["Title"]</h1>

<p>Ideas:</p>
<p>Add some sort of database system (SQLite?) to store Experience and other information without just hard coding it in the Index.cshtml.cs</p>
<p>Add skills and education sections (add to sidebar?)</p>
<p>Add linkedin link</p>
<p>look into making WPF interface</p>