@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ideas:</p>
<p>Change contact button at top to dropdown with phone and email?</p>
<p>Add some sort of database system (SQLite?) to store Experience and other information without just hard coding it in the Index.cshtml.cs</p>
<p>Change personal image to be attached to the left side of the page (can reference code for sidebars)</p>
<b>Update end date for RDI to be present</b>
<br />
<p>This page is under construction as of @ViewData["TimeStamp"]</p>
