@page
@using NicFWebApp.Pages.Shared.Classes
@model SkillModel
@{
    ViewData["Title"] = "Skills/Education";
    var columnCounter = 3;
}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="container center-div">
        <span class="card m-1 d-inline-block">
            <div class="p-2">
                <div class="text-center">
                    <h4>Education</h4>
                    <div>
                        <b>B.S. Computer Engineering & Systems</b>
                    </div>
                    University of Washington
                </div>
            </div>
        </span>
    </div>

    <div class="container center-div">
        <span class="card m-1 d-inline-block">
            <div class="text-center">
                <h4>SKILLS</h4>
            </div>
            <div class="container mb-1">
                <table>
                    @for(int i = 0; i < Model.Skills.Count;)
                    {
                        <tr>
                            @for (int j = 0; j < columnCounter; j++)
                            {
                                @if (i < Model.Skills.Count)
                                {
                                    <td class="ps-3">
                                        @Model.Skills[i].SkillName
                                    </td>
                                    <td>
                                        @Model.Skills[i].SkillLevel.SkillLevelName
                                    </td>
                                    <td class="pe-3">
                                        @{
                                            var base64 = Convert.ToBase64String(@Model.Skills[i].SkillLevel.Graphic);
                                            var Image = String.Format("data:image/png;base64,{0}", base64);
                                        }
                                        <img src="@Image" alt="" class="star">
                                    </td>
                                    i++;
                                }
                            }
                            
                        </tr>
                    }
                </table>
            </div>
        </span>
    </div>
</div>